language: node_js
node_js:
  - "7"
cache:
  - node_modules
  - build

install:
  - npm install

addons:
  sonarcloud:
    organization: "nesqwik-github" # the key of the org you chose at step #3
    token:
      secure: $SONAR_TOKEN # encrypted value of your token

script:
  - npm test -- --coverage
  - sonar-scanner
  - npm run build
